---
title: Minecraft BedFix Mod
description: You can NOT only sleep at night!
image: https://user-images.githubusercontent.com/10100202/27012704-8f856ef6-4ed5-11e7-9734-7edb098f1e37.jpg
version: "1.0"
minecraft-versions:
- "1.12.2"
- "1.12.1"
- "1.12"
- "1.11.2"
- "1.10.2"
---
{% include title.html l1 = page.title l2 = page.description %}

<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">

		<!-- BedFix -->
		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="4727516427" data-ad-format="auto"></ins>
		</div>

		<div class="margin20 no-margin-left no-margin-right no-margin-top padding10 bg-grayDarker">
				<div class="image-container">
					<div class="frame">
						<img src="{{ page.image }}" alt="{{ page.title }}">
					</div>
				</div>
		</div>

		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			{% include share-buttons.html %}
		</div>

		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			<h2>Description</h2>
			<p><b>BedFix</b> is a Minecraft Forge mod that removes the "You can only sleep at night" message and allows you to sleep in beds whenever you want.</p>
			<p>You will no longer have to right-click your bed hundreds of times, waiting for the sun to be at just the right position where the game would finally allow you to sleep. Just right-click the bed once, at any time, and you will be sent to sleep immediately.</p>
			<p>It works both in singleplayer and multiplayer, so long as the server has the mod installed as well.</p>
			<p>BedFix is currently available for Minecraft 1.10.2, 1.11.2, 1.12, 1.12.1 and 1.12.2.</p>
		</div>

		<!-- BedFix -->
		<div class="margin20 no-margin-left no-margin-right no-margin-top">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5218363098774955" data-ad-slot="4727516427" data-ad-format="auto"></ins>
		</div>

	</div>
</div>

<div class="bg-grayLighter padding40 no-padding-left no-padding-right">
	<div class="container post-content">

		<h2>Downloads</h2>

		{% for mcversion in page.minecraft-versions %}
			<a class="tile inline-block no-float bg-grayDark command-button primary no-border" href="https://github.com/Wurst-Imperium/BedFix.WurstClient.net/releases/download/v{{ page.version }}/BedFix-{{ page.version }}-MC{{ mcversion }}.jar" rel="nofollow" target="_blank" style="width: auto;height: auto;">
				<span class="icon mif-file-download"></span>
				BedFix v{{ page.version }} MC{{ mcversion }}
				<small>for Minecraft {{ mcversion }} + Forge</small>
			</a>
		{% endfor %}

	</div>
</div>

<div class="padding20 no-padding-left no-padding-right">
	<div class="container post-content">

		<h2>How To Install</h2>
		<p>BedFix can be installed just like any other Forge mod:</p>
		<ol>
			<li>
				<p>Download and install <a href="http://files.minecraftforge.net/" rel="nofollow" target="_blank">Minecraft Forge</a>.</p>
			</li>
			<li>
				<p>Place BedFix in the "mods" folder.</p>
			</li>
		</ol>

	</div>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
